*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.common-link:hover,
.common-link:focus,
.common-link:active {
  color: #ffbc9e;
  text-decoration: underline;
}

.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: none;
}

.button:hover {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.button:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, #e74a35, #f26843),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.main-header .container {
  width: 1200px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.main-header-logo {
  width: 154px;
  margin-top: 9px;
}

.main-navigation {
  width: 349px;
  margin-top: 9px;
  margin-left: 24px;
}

.site-navigation {
  margin: 0;
  padding: 0;
}

.user-navigation {
  width: 245px;
  margin: 0;
  padding: 0;
  margin-top: 9px;
  margin-left: 374px;

}

.working-time {
  width: 165px;
  margin-top: 20px;
  margin-right: 26px;
}

.site-navigation,
.user-navigation,
.sub-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a {
  text-decoration: underline;
}

.sub-navigation a {
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #323232;
  background-color: #f7f6f3;
  text-decoration: none;
}
.site-navigation .active {
  background-color: #d07058;
  text-decoration: none;
}
.site-navigation {
  line-height: 18px;
  font-weight: 700;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.working-time span:first-child {
  font-size: 14px;
  line-height: 16px;
}

.working-time span:last-child {
  font-size: 22px;
  line-height: 24px;
}

.features-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.features {
  margin-left: 27px;
  margin-right: 27px;
  color: #323232;
  background-color: #ecdfc5;
  background-image: url("../img/waffle-bg.jpg");
  border-radius: 15px;
}

.features .description {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  list-style: none;
}

.features-item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.blog-subscribe-wrapper .container {
  width: 1200px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.blog {
  width: 560px;
  min-height: 220px;
  color: #323232;
  background-image: url("../img/strawberry-bg.jpg");
  border-radius: 15px;
}

.blog a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.blog a:hover {
  color: #e84d37;
}

.subscribe-wrapper {
  width: 560px;
  min-height: 220px;
  padding: 5px;
  background-image: url("../img/bg-post.svg");
  border-radius: 15px;
}

.subscribe {
  min-height: 210px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 10px;
}

.subscribe p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.subscribe input {
  line-height: 24px;
  font-weight: 400;
}


.main-footer .container {
  width: 1200px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;width: 1200px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
  display: flex;
}

.main-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social {
  width: 400px;
}

.social-button {
  opacity: 0.5;
  background-color: #ffffff;
}

.social-button:hover {
  opacity: 0.7;
  background-color: #ffffff;
}

.footer-about {
  width: 548px;
}

.footer-about-item {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyright {
  width: 198px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.footer-logo,
.footer-copyright-link {
  display: block
}
/* Catalog.html */

.catalog-page h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.breadcrumbs-header-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.breadcrumbs-header-wrapper h1 {
  display: block;
  margin-left: 27px;
  margin-right: 27px
}

.breadcrumbs {
  margin-left: 27px;
  margin-right: 27px;
}

.breadcrumbs p {
  font-weight: 700;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs-item a {
  text-decoration: underline;
}

.breadcrumbs-item .active {
  text-decoration: none;
}

.assortment .container {
  width: 1200px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
  margin-bottom: 104px;
}

.assortment-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:0;
  padding: 0;
  list-style: none;
}

.assortment-item {
  width: 267px;
}

.assortment-item img {
  border-radius: 50%;
}

.assortment-item span {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.assortment-item a {
  text-decoration: underline;
}
